*{
	padding: 0px;
	margin:	0px;

}
header, section, nav, footer,article, figure, hgroup,figcaption
{
	display: block;
}

body{
	text-align: center;
	background: #78F5BE;
	}

#agrupar
{
	width: 100%;
	margin: 15px auto;
	text-align: left;
}

.logo{
	position: absolute;
	height: 140px; 
	width: 140px;
	margin-left: 600px; 
	margin-top: -60px;
	border-radius: 100px;
	border:10px solid #AD5D03;

}

.video{
    width: 700px;
    height: 400px;
    margin-left: 200px;
}


#titulos
{
	position: center;
	color:#5A8A51;
	text-align: left ; 
	font-size: 24px;
	margin-top: 100px;
	margin-left: 60px;

	font-family:Bebas neue, Geneva, Arial, Helvetica, sans-serif; 
}

.imagen_principal
{
	position: absolute;
	width: 1000px;
	height: 500px;
	margin-left: 148px;
	margin-top: 8px;
	border-radius: 100px 0px;
	border:10px solid #cccccc;

}
.menu
{
	position: absolute;
	background: rgba(0,0,0,0.8);
	width:15%;
	height: 500px;
	margin-left:-70%;
	transition: all 0.5s;
	z-index: 10000;
}

#lista
{
	margin-top: 100px;
	list-style: none;
	flex-direction: column;
	display: flex;
	justify-content: center;
	padding: 0px;
}

li{
	border-top: 1px solid #ffffff;
}

#btn-menu:checked ~ .menu{
	margin-left: 20px;
}

li:hover{
	background: rgba(255,255,255,0.3);
	height: 50%;
	padding-top: 0px;
}

a{
	display: block;
	padding: 20px;
	color: #ffffff;
	text-decoration: none;
	font: bold;
}

a:hover{
	background: rgba(0,0,0,0.3);
}



#subtitulo{
	position: relative;
	width: 73%;
	margin-top: -70px;
	margin-left: 80px;
	margin-right: 0px;
	background: #AD5D03;
	height: 60px;
	font-size: 24px;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: left;
	float: left;
}

h1,h2,h3,h4,h5,h6{
	font-family: Bebas neue;
}

#columna_izquierda{
	color: #ffffff;
	width: 72%;
	margin-top: 0px;
	margin-right: 11px;
	float: left;
	background: #000000;
	padding-right:-10px; 
	padding-left: 30px;
	padding-bottom:0px;
	text-align: left;
	margin-left: 80px;
	height: 400px;
}

p
{
	text-align: left;
	font: 14px verdana, sans-serif;
	color: #EEC2C2;
}

#columna_derecha1{
	width: 12%;
	height: auto;
	background: #ED78F5;
	margin-left: 1120px;
	margin-top: -70px;
	text-align: center;
	font: 20px verdana, sans-serif;
	padding-top: 12px;
}

#columna_derecha2{
	width: 12%;
	height: auto;
	background: #ED78F5;
	margin-left: 1100px;
	margin-top: -400px;
}

#seccion_ubicacion{
	background: #000000;
	width: 50%;
	margin-top: 10px;
	margin-left: 250px;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;

}

.form{
	text-align: center;
}

.enlace{
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	height: 50px;
	width: 50px;
}

#pie
{
	clear: both;
	background:#000000;
	padding:10px;
	margin top: -20px;
	
}

#texto_footer
{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#nombre{
	width: 60%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#correo{
	width: 60%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mensaje{
	width: 60%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.iconomenu
{
	width: 50px;
	height: 50px;
	margin-right: 10px;

}

#btn-menu
{
	display: none;
}
label
{
	display: block;
	width: 30px;
	height: 48px;
	padding: 10px;
	margin-top: 50px;
	border-right: 0px solid #ffffff;
	margin-left: 20px;
}
label:hover
{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

*{
   padding : 0px;
   margin: 0px; 
 }
header, section, nav, aside, footer, article, figure, hgroup, figcaption
{ 
   display: bolck; 
}


.secuencia{
	width: 50%;
	position: absolute;
	margin-left: 80px;

}

.lista_fotos li, ul{
	width: 100%;
}

.lista_fotos li{
	overflow: hidden;
}

.lista_fotos li img{
	width: 100%;
}

.lista_fotos .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 180px;
	left: 0;
	padding: 15px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.lista_fotos .caption h1{
	font-size: 50px;
}

.lista_fotos .caption p{
	margin-top: 10px;
	font-size: 20px;
}


#linea_de_fotos
{
	width: 70%;
	margin-top: 400px;
	margin-left: 50px;
}
	
#fotos{
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 4px; 
  float:left;
  height: 50px;
  font-size:24px;
  color:#FFFCFC;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  height: auto;
  text-align: left;
  list-style-type: square;
  font: 14px verdana, sans-serif;

/*Diseño responsive*/

@media(max-width: 768px){

label 
{
	display: block;
}



#agrupar
{
	width: 100%;
	margin: 15px auto;
	text-align: left;
}

.logo{
	position: absolute;
	height: 140px; 
	width: 140px;
	margin-left: 600px; 
	margin-top: -60px;
	border-radius: 100px;
	border:10px solid #000000;

}

.video{
    width: 700px;
    height: 400px;
    margin-left: 200px;
}

#encabezado
{
	width: 50px,
	height: 50px;
}


#titulos
{
	position: left;
	color:#AD5D03;
	text-align: left ; 
	font-size: 10px;
	margin-top: 50px;
	margin-left: 60px;

	font-family:Bebas neue, Geneva, Arial, Helvetica, sans-serif; 
}

.imagen_principal
{
	position: absolute;
	width: 1000px;
	height: 500px;
	margin-left: 148px;
	margin-top: 8px;
	border-radius: 100px 0px;
	border:10px solid #cccccc;

}
.menu
{
	position: absolute;
	background: rgba(0,0,0,0.8);
	width:15%;
	height: 500px;
	margin-left:-70%;
	transition: all 0.5s;
	z-index: 10000;
}

#lista
{
	margin-top: 100px;
	list-style: none;
	flex-direction: column;
	display: flex;
	justify-content: center;
	padding: 0px;
}

li{
	border-top: 1px solid #ffffff;
}

#btn-menu:checked ~ .menu{
	margin-left: 20px;
}

li:hover{
	background: rgba(255,255,255,0.3);
	height: 50%;
	padding-top: 0px;
}

a{
	display: block;
	padding: 20px;
	color: #ffffff;
	text-decoration: none;
	font: bold;
}

a:hover{
	background: rgba(0,0,0,0.3);
}



#subtitulo{
	position: relative;
	width: 88%;
	margin-top: -70px;
	margin-left: 80px;
	margin-right: 0px;
	background: #B5FAE0;
	height: 60px;
	font-size: 24px;
	color: #AD5D03;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: left;
	float: left;
}

h1,h2,h3,h4,h5,h6{
	font-family: Bebas neue;
}

#columna_izquierda{
	color: #ffffff;
	width: 72%;
	margin-top: 0px;
	margin-right: 11px;
	float: left;
	background: #000000;
	padding-right:-10px; 
	padding-left: 30px;
	padding-bottom:0px;
	text-align: left;
	margin-left: 80px;
	height: 400px;
}

p
{
	text-align: left;
	font: 14px verdana, sans-serif;
	color: #EEC2C2;
}

#columna_derecha1{
	width: 12%;
	height: auto;
	background: #B5FAE0;
	margin-left: 1120px;
	margin-top: 10px;
	text-align: center;
	font: 20px verdana, sans-serif;
	padding-top: 12px;
}

#columna_derecha2{
	width: 12%;
	height: auto;
	background: #B5FAE0;
	margin-left: 1100px;
	margin-top: -390px;
}



#seccion_ubicacion{
	background: #000000;
	width: 50%;
	margin-top: 10px;
	margin-left: 250px;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;

}

.form{
	text-align: center;
}

.enlace{
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	height: 50px;
	width: 50px;
}

#pie
{
	clear: both;
	background:#000000;
	padding:10px;
	
}

#texto_footer
{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#nombre{
	width: 60%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#correo{
	width: 60%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mensaje{
	width: 60%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.iconomenu
{
	width: 50px;
	height: 50px;
	margin-right: 10px;

}

#btn-menu
{
	display: none;
}
label
{
	display: block;
	width: 30px;
	height: 48px;
	padding: 10px;
	margin-top: 50px;
	border-right: 0px solid #ffffff;
	margin-left: 20px;
}
label:hover
{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

*{
   padding : 0px;
   margin: 0px; 
 }
header, section, nav, aside, footer, article, figure, hgroup, figcaption
{ 
   display: bolck; 
}


.secuencia{
	width: 50%;
	position: absolute;
	margin-left: 80px;

}

.lista_fotos li, ul{
	width: 100%;
}

.lista_fotos li{
	overflow: hidden;
}

.lista_fotos li img{
	width: 100%;
}

.lista_fotos .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 180px;
	left: 0;
	padding: 15px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.lista_fotos .caption h1{
	font-size: 50px;
}

.lista_fotos .caption p{
	margin-top: 10px;
	font-size: 20px;
}


#linea_de_fotos
{
	width: 70%;
	margin-top: 400px;
	margin-left: 50px;
}
	
#fotos{
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 4px; 
  float:left;
  height: 50px;
  font-size:24px;
  color:#FFFCFC;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  height: auto;
  text-align: left;
  list-style-type: square;
  font: 14px verdana, sans-serif;